.box1{
    background-color:rgb(228, 233, 250);
    position: relative;
    width: 700px;
    margin-left: 300px;
    
}

.box2{
    width: 200px;
    height: 100px;
    background-color:black;
    position: fixed;
    top: 50px;
    color:white;
    text-align: center;

}